@font-face {
    font-family: catamaran;
    src: url(../Fonts/Catamaran-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: catamaran;
}

h2 {
    font-size: 4vw;
    margin: 20px 80px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    /* junta as bordas */
}

thead tr {
    background-color: #ff007f;
    color: black;
}

th, td {
    padding: 15px;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #ff007f;
    width: 25%;
}

tbody tr:hover {
    background-color: pink;
}