/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    font-family: calibri;
}

.container {
    padding: 1rem;
    color: #fff;
    font-size: 3rem; 
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 200px;
    gap: 5px;  
}

header {
    background-color: hsl(252, 6%, 12%);   
    grid-column: 1 / 3;
}

main {
    background-color: hsl(252, 35%, 16%);   
    grid-column: 1 / 2;
}

aside {
    background-color: hsl(252, 52%, 14%);  
    grid-column: 2 / 3;
}

footer {
    background-color: hsl(252, 74%, 12%); 
    grid-column: 1 / 3;
}