* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    font-family: calibri;
}

.container {
    padding: 1rem;
    color: #fff;
    font-size: 3rem; 
}

header {
    background-color: hsl(252, 6%, 12%);
}

main {
    background-color: hsl(252, 35%, 16%);
}

aside {
    background-color: hsl(252, 52%, 14%);
}

footer {
    background-color: hsl(252, 74%, 12%);   
}