* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #779b63;
    --second-color: #d62828;
    --third-color: #f77f00;
    --fourth-color: #291e8b;
    --bg-dark: #333;
    --bg-white: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-dark);
    padding: 1rem;
    font-family: calibri;
    font-size: 1.6rem;
}

h1 {
    color: var(--bg-white);
    font-size: 4rem;
    margin: 1rem 0;
}

h2 {
    color: var(--first-color);
    font-size: 3rem;
}

.container {
    margin: 2rem auto;
    text-align: center;
    color: var(--bg-white);
}

.box1 {
    background-color: var(--first-color);
    min-height: 5rem;
}

.box2 {
    background-color: var(--second-color);
    min-height: 5rem;
}

.box3 {
    background-color: var(--third-color);
    min-height: 5rem;
}

.box4 {
    background-color: var(--fourth-color);
    min-height: 5rem;
}