* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink-color: #dc1432;
    --light-color: #ffffff;
    --first-color: #444054;
    --second-color: #2f243a;
    --third-color: #2a2464;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    font-family: calibri;
    color: var(--light-color);
}

h2 {
    color: var(--pink-color);
    margin: 10px 0;
    text-align: center;
}

.container {
    margin: 10px auto;
    min-height: 300px;
    width: 80%;
    border: 1px solid #000;
}

.box1 {
    background-color: var(--first-color);
    border: 1px solid var(--light-color);
}

.box2 {
    background-color: var(--second-color);
    border: 1px solid var(--light-color);
}

.box3 {
    background-color: var(--third-color);
    border: 1px solid var(--light-color);
}